@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .speech-bubble {
        background-position: center;
        background-repeat: no-repeat !important;
        background-size: 100% 100%;
        text-align: center;
        height: 0;
        box-sizing: content-box;
        line-height: 1;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg); 
        width: 200px;
        padding-top: 40px;
        padding-bottom: 135px;

        @media screen and (min-width: 768px) {
            width: 300px;
            padding-top: 50px;
            padding-bottom: 200px;
        } 
    }

    .speech-electric {
        background-position: center;
        background-repeat: no-repeat !important;
        background-size: 100% 100%;
        margin: 0 auto;
        text-align: center;
        height: 0;
        box-sizing: content-box;
        line-height: 1;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/electric.svg); 
        width: 25%;
        font-size: 2.4vw;
        font-style: italic;
        padding: 4% 6% 12% 0%;
    }
}